{% extends "base.html" %}

{% block content %}
<h3 style="text-align: center">Works log</h3>
{% for item in jobs%}
<h2>Action #{{ loop.index }}</h2>
<div class="col-md6 border rounded">
    <table class="table table-bordered border-primary">
        <tr>
            <th>Title of activity</th>
            <th>Team leader</th>
            <th>Duration</th>
            <th>List of collaborators</th>
            <th>Is finished</th>
        </tr>
        <tr>
            <td>{{  item.job  }}</td>
            <td>{{  item.team_leader  }}</td>
            <td>{{  item.work_size  }}</td>
            <td>{{  item.collaborators  }}</td>
            <td>{{  item.is_finished  }}</td>
        </tr>
    </table>
</div>
{% endfor %}
{% endblock %}